<template>
  <div>
    <!-- <b-container fluid class="align-center">
        <b-jumbotron header="View Jobs">
                <b-row>
    <b-col md="5" class="mx-2">-->
    <b-card title="My jobs">
      <!-- <h3 class="title"> My jobs </h3> -->
      <hr />
      <div class="table-responsive">
        <b-table
          id="myjob"
          sticky-header
          striped
          hover
          head-variant="dark"
          :per-page="perPageMy"
          :current-page="currentMyJPage"
          :fields="fields"
          :items="items"
          :busy="busy"
        >
          <template v-slot:table-busy>
            <div class="text-center my-2">
              <b-spinner class="align-middle mr-1"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- <template v-slot:> -->

          <template v-slot:cell(status)="data">
            <b-button block variant="info">
              <div class="text-truncate">{{data.item.status}}</div>
            </b-button>
          </template>

          <template v-slot:cell(actions)="data">
            <b-button block variant="info">
              <div class="text-truncate">{{data.item.actions}}</div>
            </b-button>
          </template>

          <template v-slot:cell(requestTime)="data">{{data.item.requestTime | moment('YYYY-MM-DD')}}</template>
        </b-table>
        <div class="overflow-auto">
          <b-pagination
            v-model="currentMyJPage"
            :total-rows="rows"
            :per-page="perPageMy"
            aria-controls="myjob"
          ></b-pagination>
        </div>
      </div>
    </b-card>
    <!-- </b-col>
    <b-col md="5" class="mx-2">-->
    <b-card title="All jobs">
      <!-- <h3 class="title"> All jobs </h3> -->
      <hr />
      <div class="table-responsive">
      <b-table
        id="alljob"
        sticky-header
        striped
        hover
        head-variant="dark"
        :per-page="perPageAll"
        :current-page="currentAllJPage"
        :fields="fields"
        :items="items"
        :busy="busy"
      >
        <template v-slot:table-busy>
          <div class="text-center my-2">
            <b-spinner class="align-middle mr-1"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <template v-slot:cell(status)="data">
          <b-button block variant="info">
            <div class="text-truncate">{{data.item.status}}</div>
          </b-button>
        </template>

        <template v-slot:cell(actions)="data">
          <b-button block variant="info">
            <div class="text-truncate">{{data.item.actions}}</div>
          </b-button>
        </template>

        <template v-slot:cell(requestTime)="data">{{data.item.requestTime | moment('YYYY-MM-DD')}}</template>
      </b-table>
      <div class="overflow-auto">
        <b-pagination
          v-model="currentAllJPage"
          :total-rows="rows"
          :per-page="perPageAll"
          aria-controls="alljob"
        ></b-pagination>
      </div>
      </div>
    </b-card>
    <!-- </b-col>
    </b-row>-->
    <!-- Confirm Modal -->
    <b-modal ref="confirmModal" :title="`Confirm ${currentAction}`" @ok="performEnable">
      <p class="my-4">Do you want to {{ currentAction }} {{ currentItem.id }}?</p>
    </b-modal>
    <!-- </b-jumbotron>
    </b-container>-->
  </div>
</template>

<script>
export default {
  name: "Helpdesk",
  data() {
    return {
      currentAllJPage: 1,
      currentMyJPage: 1,
      perPageAll: 10,
      perPageMy: 5,
      currentItem: {},
      currentAction: "",
      jobFilter: "ALL",
      busy: false,
      fields: [
        { key: "id", stickyColumn:true,variant:'primary', label: "job ID", sortable: true },
        { key: "problem", stickyColumn:true, variant:'info', label: "Problem" },
        { key: "location", label: "Location" },
        { key: "requester", label: "Requester" },
        { key: "requestTime", label: "Request Time" },
        { key: "status", label: "Status", thStyle: { width: "10%" } },
        { key: "actions", label: "Actions", thStyle: { width: "10%" } }
      ],
      jobStatusOptions: [
        "ALL",
        "Waiting adknowledgement",
        "Adknowledged",
        "Pending"
      ],
      items: [
        {
          id: "0000001",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "Mary Sue",
          status: "adknowledged",
          actions: "pending"
        },
        {
          id: "0000002",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000003",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000004",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000005",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000006",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000007",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000008",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000009",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000010",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000011",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000012",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000013",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000014",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000015",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000016",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000017",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000018",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000019",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000020",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000021",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000022",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000023",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000024",
          location: "something something",
          problem: "helloworld",
          requestTime: "2012-05-17",
          requester: "John Doe",
          status: "pending",
          actions: "done"
        }
      ]
    };
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>