<template>
    <AdminStaffTable></AdminStaffTable>
</template>

<script>
import AdminStaffTable from '@/components/stafftable'
export default {
    name : 'AdminStaffList',
    components: {
        AdminStaffTable
    }
}
</script>