<template>
  <div>
    <CRow>
      <CCol sm="12" lg="8">
        <CCard>
          <CCardBody>
            <CRow>
              <CCol sm="5">
                <h4>Job report</h4>
                <div class="small text-muted">date/month - date/month</div>
              </CCol>
              <CCol sm="7" class="d-none d-md-block">
                <CRow>
                  <CCol>
                    From :
                    <date-picker></date-picker>
                  </CCol>
                  <CCol>
                    To :
                    <date-picker></date-picker>
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
            <generalReportChart :incomingdata="mainChartData" style="height:450px;margin-top:40px;"></generalReportChart>
          </CCardBody>
          <CCardFooter>
            <CRow class="text-center">
              <CCol md sm="12" class="mb-sm-2 mb-0">
                <div class="text-muted">Ongoing job</div>
                <strong>{{ongoingJob}} job</strong>
                <CProgress class="progress-xs mt-2" :precision="1" color="warning" :value="80" />
              </CCol>
              <CCol md sm="12" class="mb-sm-2 mb-0">
                <div class="text-muted">Job done</div>
                <strong>{{doneJob}} job</strong>
                <CProgress class="progress-xs mt-2" :precision="1" color="success" :value="20" />
              </CCol>
            </CRow>
          </CCardFooter>
        </CCard>
      </CCol>
      <CCol sm="12" lg="4">
        <CCard>
          <CCardHeader>Job done</CCardHeader>
          <CCardBody>
            <customPieChart :incomingdata="jobDoneData" @refresh="logThis"></customPieChart>
            <b-button @click="addHidden"> + </b-button>
            <b-button @click="removeHidden"> - </b-button>
          </CCardBody>
        </CCard>
        <CCard>
          <CCardHeader>Current job state</CCardHeader>
          <CCardBody>
            <pieChart :incomingdata="currentJobData"></pieChart>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CRow>
      <CCol sm="6" lg="6">
        <CCard>
          <CCardHeader>Evaluation chart (by team)</CCardHeader>
          <CCardBody>
            <lineChart :incomingdata="evaluationChartData"></lineChart>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol sm="6" lg="6">
        <CCard>
          <CCardHeader>Request time vs time upon request submittion</CCardHeader>
          <CCardBody>
            <lineChart :incomingdata="requestTimeData"></lineChart>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol sm="6" lg="6">
        <CCard>
          <CCardHeader>Problem occurrence by category</CCardHeader>
          <CCardBody>
            <barChart :incomingdata="jobTypeBarData"></barChart>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol sm="6" lg="6">
        <CCard>
          <CCardHeader>Problem occurrence by buildings</CCardHeader>
          <CCardBody>
            <barChart :incomingdata="buildingBarData"></barChart>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CCard>
      <CCardBody>
        <adminJobQuantityTab :graphdata="teamJobDistributionData" @tabUpdate="changeRemarkIndex"></adminJobQuantityTab>
      </CCardBody>
      <CCardFooter>
        <strong>Remark :</strong>
        <b-progress v-if="(remarkIndex === 0)" max="80">
          <b-progress-bar value="20" variant="warning">adknowledged</b-progress-bar>
          <b-progress-bar value="20" variant="primary">processing</b-progress-bar>
          <b-progress-bar value="20" variant="secondary">pending</b-progress-bar>
          <b-progress-bar value="20" variant="dark">claiming</b-progress-bar>
          <!-- <b-progress-bar value="20" variant="success">done</b-progress-bar> -->
        </b-progress>
        <b-progress v-if="(remarkIndex === 1)" max="140">
          <b-progress-bar value="20" variant="info">Hardware</b-progress-bar>
          <b-progress-bar value="20" variant="primary">Software</b-progress-bar>
          <b-progress-bar value="20" variant="secondary">Printer (Standalone)</b-progress-bar>
          <b-progress-bar value="20" striped variant="secondary">Printer (Multifunction)</b-progress-bar>
          <b-progress-bar value="20" variant="warning">IPphone</b-progress-bar>
          <b-progress-bar value="20" variant="danger">Internet</b-progress-bar>
          <b-progress-bar value="20" variant="dark">Other</b-progress-bar>
        </b-progress>
      </CCardFooter>
    </CCard>
    <!-- <CCard>
      <CCardBody>
        <adminCurrentJobTable></adminCurrentJobTable>
      </CCardBody>
    </CCard>-->
  </div>
</template>

<script>
import generalReportChart from "@/components/jobchart";
import barChart from "@/components/barChart";
import pieChart from "@/components/pieChart";
import customPieChart from "@/components/customPieChart";
// import adminCurrentJobTable from "@/components/currentJobTable";
import lineChart from "@/components/lineChart";
import adminJobQuantityTab from "@/components/jobQuantityTab";

export default {
  name: "generalReport",
  components: {
    generalReportChart,
    barChart,
    pieChart,
    customPieChart,
    // adminCurrentJobTable,
    lineChart,
    adminJobQuantityTab
  },
  data() {
    return {
      ongoingJob: 100,
      doneJob: 35,
      totalJob: 135,
      remarkIndex : 0,
      mainChartData: {
        labels: [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30
        ],
        waiting: [],
        adknowledged: [],
        processing: [],
        claiming: [],
        pending: [],
        done: []
      },
      teamJobDistributionData: {
        teams: [
          {
            teamtitle: "Team 1",
            info: {
              options: { maintainAspectRatio: false },
              labels: ["P' Arm", "P' Not", "P' Por", "P' Bin", "P' Tong"],
              dataset: [
                {
                  label: "number of jobs",
                  backgroundColor: "#fc0331",
                  data: [5, 10, 15, 12, 8]
                }
              ]
            },
            statebar: [
              {
                name: "P' Arm",
                value: [5, 10, 5, 25, 30,4,5,6,7,8,1,2]
              },
              {
                name: "P' Not",
                value: [10, 15, 3, 3, 3,1,2,3,4,5,3,4]
              },
              {
                name: "P' Por",
                value: [3, 8, 15, 20, 30,2,4,6,8,10,5,6]
              },
              {
                name: "P' Bin",
                value: [10, 15, 3, 3, 3,1,3,5,7,9,7,8]
              },
              {
                name: "P' Tong",
                value: [10, 15, 3, 3, 3,1,1,1,1,1,9,10]
              }
            ]
          },

          {
            teamtitle: "Team 2",
            info: {
              options: { maintainAspectRatio: false },
              labels: ["P' Tok", "P' Kot", "P' Kuay"],
              dataset: [
                {
                  label: "number of jobs",
                  backgroundColor: "#fc0331",
                  data: [3, 5, 7]
                }
              ]
            },
            statebar: [
              {
                name: "P' Tok",
                value: [5, 10, 5, 25, 30,4,5,6,7,8,2,12]
              },
              {
                name: "P' Kot",
                value: [10, 15, 3, 3, 3,1,2,3,4,5,4,14]
              },
              {
                name: "P' Kuay",
                value: [3, 8, 15, 20, 30,2,4,6,8,10,6,16]
              }
            ]
          }
        ]
      },
      evaluationChartData: {
        labels: [
          "6AM",
          "7AM",
          "8AM",
          "9AM",
          "10AM",
          "11AM",
          "12PM",
          "1PM",
          "2PM",
          "3PM",
          "4PM",
          "5PM",
          "6PM"
        ],
        dataset: [
          {
            label: "Team 1",
            backgroundColor: "rgb(228,102,81,0.9)",
            data: [5, 4.5, 5, 3, 2.5, 4, 5, 2.5, 1, 5, 4.5, 3, 2.5]
          },
          {
            label: "Team2",
            backgroundColor: "rgb(0,216,255,0.9)",
            data: [2.5, 2, 4, 3, 5, 3.5, 4, 1.5, 3, 2.5, 3, 3, 5]
          },
          {
            label: "Team3",
            backgroundColor: "rgb(234, 255, 0, 0.9)",
            data: [3, 1.5, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]
          }
        ]
      },
      requestTimeData: {
        labels: [
          "6AM",
          "7AM",
          "8AM",
          "9AM",
          "10AM",
          "11AM",
          "12PM",
          "1PM",
          "2PM",
          "3PM",
          "4PM",
          "5PM",
          "6PM"
        ],
        dataset: [
          {
            label: "time on requesting",
            backgroundColor: "rgb(228,102,81,0.9)",
            data: [30, 39, 10, 50, 30, 70, 35, 30, 50, 35, 45, 60, 25]
          },
          {
            label: "Request time",
            backgroundColor: "rgb(0,216,255,0.9)",
            data: [39, 80, 40, 35, 40, 20, 45, 60, 25, 40, 35, 20, 50]
          }
        ]
      },
      jobTypeBarData: {
        labels: [
          "Hardware",
          "Software",
          "Printer",
          "IPPhone",
          "Internet",
          "Other"
        ],
        dataset: [
          {
            label: "Occurence this week",
            backgroundColor: "#f87979",
            data: [5, 10, 15, 12, 8, 22]
          }
        ]
      },
      buildingBarData: {
        labels: [
          "Aditayathorn Building",
          "MUIC Building 1",
          "MUIC Building 2",
          "MUIC Building 3"
        ],
        dataset: [
          {
            label: "Cases by building",
            backgroundColor: "#fc0331",
            data: [5, 10, 15, 12]
          }
        ]
      },
      currentJobData: {
        labels: [
          "waiting",
          "adknowledged",
          "processing",
          "claiming",
          "pending"
        ],
        dataset: [
          {
            backgroundColor: [
              "#41B883",
              "#E46651",
              "#00D8FF",
              "#DD1B16",
              "#fcba03"
            ],
            data: [40, 20, 50, 10, 30],

          }
        ]
      },
      jobDoneData: {
        // labels: [
        //   "waiting",
        //   "adknowledged",
        //   "processing",
        //   "claiming",
        //   "pending"
        // ],
        dataset: [
          {
            labels : ["P' Tong", "P' Arm", "P' Not", "P' Bin", "P' Por"],
            backgroundColor: [
              "#41B883",
              "#E46651",
              "#00D8FF",
              "#DD1B16",
              "#fcba03"
            ],
            data: [30, 20, 80, 10, 10],
            labels: [
              "P' Arm",
              "P' Not",
              "P' Tong",
              "P' Por",
              "P' Bin"
            ],
          },
          {
            backgroundColor: [
              "#41B883",
              "#E46651",
              "#00D8FF",
              "#41B883",
              "#00D8FF",
              "#DD1B16",
              "#fcba03",
              "#eba134",
              "#E46651",
              "#E46651",
            ],
            data: [10, 5, 15, 10, 10, 40, 20, 20, 10, 10],
            labels: [
              "Hardware",
              "Software",
              "Printer (Standalone)",
              "Hardware",
              "Printer (Multifunction)",
              "IPphone",
              "Internet",
              "Other",
              "Software",
              "Software"
            ],
          }
        ]
      },
      hiddenData : {
            backgroundColor: [
              "#41B883",
              "#E46651",
              "#00D8FF",
              "#41B883",
              "#00D8FF",
              "#DD1B16",
              "#fcba03",
              "#eba134",
              "#E46651",
              "#E46651",
            ],
            data: [10, 5, 15, 10, 10, 40, 20, 20, 10, 10],
            labels: [
              "Hardware",
              "Software",
              "Printer (Standalone)",
              "Hardware",
              "Printer (Multifunction)",
              "IPphone",
              "Internet",
              "Other",
              "Software",
              "Software"
        ],
      }
    };
  },
  methods: {
    logThis(e) {
      console.log(e);
    },
    changeRemarkIndex(e) {
      this.remarkIndex = e.tab
      console.log(this.remarkIndex)
    },
    addHidden() {
      if(this.jobDoneData.dataset.length === 1){
        this.jobDoneData.dataset.push(this.hiddenData)
      }
    },
    removeHidden() {
      if(this.jobDoneData.dataset.length > 1){
        this.jobDoneData.dataset.pop()
      }
    }
  }
};
</script>