<template>
  <div>
    <b-card bg-variant="light" title="Pending requests">
      <!-- <b-table striped sticky-header head-varaint="dark" id="request-table">
        <template v-slot:cell(list)="row">

        </template>
      </b-table> -->
      <div v-for="item in items">
          <div>
            <b-card no-body>
            <!-- <div class="overflow-auto">
              <h3> {{item.id}} : {{item.problem}} </h3>
            </div>
            <hr /> -->
              <b-card-header role="tab">
              <b-button block href="#" v-b-toggle="'accordion-' + item.id" variant="info">{{item.id}} : {{item.problem}}</b-button>
              </b-card-header>
              <b-collapse :id="'accordion-' + item.id" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>
                    Problem : {{item.problem}}
                    <br/>
                    Location : {{item.location}}
                    <br/>
                    Request time : {{item.requestTime}}
                    <br/>
                    Requester : {{item.requester}}

                    <b-button block variant="success">
                      accept this request
                    </b-button>
                  </b-card-text>
                </b-card-body>
              </b-collapse>
              </b-card>
          </div>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
    name: "HelpdeskV2",
    data() {
        return{
            items: [
                {
                id: "0000001",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "Mary Sue",
                status: "adknowledged",
                actions: "pending"
                },
                {
                id: "0000002",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000003",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000004",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000005",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000006",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000007",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000008",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000009",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000010",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000011",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000012",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000013",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000014",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000015",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000016",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000017",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000018",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000019",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000020",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000021",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000022",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000023",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                },
                {
                id: "0000024",
                location: "something something",
                problem: "helloworld",
                requestTime: "2012-05-17",
                requester: "John Doe",
                status: "pending",
                actions: "done"
                }
            ]
        }
    }
};
</script>