<template>
  <div>
    <b-container fluid class="px-5">
      <b-row class="py-4">
        <!-- date filter -->
        <b-col>
          From :
          <!-- <datetime id='startDatePicker' type="datetime" v-model="startDate"></datetime> -->
          <date-picker v-model="startDate" :config="options"></date-picker>
        </b-col>
        <b-col>
          To :
          <!-- <datetime id='endDatePicker' type="datetime" v-model="endDate"></datetime> -->
          <date-picker v-model="endDate" :config="options"></date-picker>
        </b-col>
        <!-- this is for debugging -->
        <!-- {{items.length}} -->
        <!-- building filter -->
      </b-row>Building :
      <b-form-select class="mb-2" v-model="selectedLocation" :options="locationOptions"></b-form-select>
      <div class="my-2">
        <b-card>
          <b-row>
            <b-col class="pt-3">
              <h3>Incoming Requests</h3>
            </b-col>
            <b-col md="0" class="ml-auto py-3 pr-3">
              <div>
                <router-link to="/Myjobs">
                  <b-button variant="outline-danger">
                    <CIcon name="cil-bell" />
                    <b-badge variant="warning">5</b-badge>
                  </b-button>
                </router-link>
              </div>
            </b-col>
          </b-row>
          <hr />
          <div>
            <b-table
              id="alljob"
              responsive
              hover
              head-variant="dark"
              class="py-2"
              :per-page="perPageMy"
              :current-page="currentMyJPage"
              :fields="fields"
              :items="filteredItems"
              :busy="busy"
            >
              <template v-slot:table-busy>
                <div class="text-center my-2">
                  <b-spinner class="align-middle mr-1"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>

              <template v-slot:cell(requester)="data">
                <p v-b-modal="'personel-' + data.item.id">
                  <u>{{data.item.requester}}</u>
                </p>
                <b-modal :id="'personel-' + data.item.id" :title="data.item.requester">
                  <!-- <p class="my-4"> {{data.item.id}} </p> -->
                  <b-row>
                    <b-col sm="5">
                      <b-img
                        thumbnail
                        fluid
                        src="https://muic.mahidol.ac.th/eng/wp-content/uploads/2018/10/13000573.jpg"
                      ></b-img>
                    </b-col>
                    <b-col sm="5">
                      <b-row>
                        <b>Name :</b>
                      </b-row>
                      <b-row>{{data.item.requester}}</b-row>
                      <b-row>
                        <b>Faculty :</b>
                      </b-row>
                      <b-row>
                        <!-- {{data.item.requester}} -->
                        Science
                      </b-row>
                    </b-col>
                  </b-row>
                </b-modal>
              </template>

              <template
                v-slot:cell(requestTime)="data"
              >{{data.item.requestTime | moment('dddd Do MMMM YYYY, LT')}}</template>

              <template v-slot:cell(problem)="row">
                <b-button style="height: 80px" block @click="row.toggleDetails" class="mr-auto text-truncate">
                  <div>{{row.item.problem |truncate(30,'...')}}</div>
                </b-button>
              </template>

              <template v-slot:row-details="data">
                <div class="d-flex justify-content-center">
                  <b-card style="width:100%">
                    <b-row class="mb-2">
                      <!-- <b-col sm="3" class="text-sm-right">
                        <b>Requester :</b>
                      </b-col>
                      <b-col> -->
                        <!-- <p v-b-modal="'personel-' + data.item.id + '-inner'">
                          <u>{{data.item.requester}}</u>
                        </p> -->
                      <!-- </b-col> -->
                      <b-modal
                        :id="'personel-' + data.item.id + '-inner'"
                        :title="data.item.requester"
                      >
                        <!-- <p class="my-4"> {{data.item.id}} </p> -->
                        <b-row>
                          <b-col sm="5">
                            <b-img
                              thumbnail
                              fluid
                              src="https://muic.mahidol.ac.th/eng/wp-content/uploads/2018/10/13000573.jpg"
                            ></b-img>
                          </b-col>
                          <b-col sm="5">
                            <b-row>
                              <b>Name :</b>
                            </b-row>
                            <b-row>{{data.item.requester}}</b-row>
                            <b-row>
                              <b>Faculty :</b>
                            </b-row>
                            <b-row>
                              <!-- {{data.item.requester}} -->
                              Science
                            </b-row>
                          </b-col>
                        </b-row>
                      </b-modal>
                    </b-row>

                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right">
                        <b>Location :</b>
                      </b-col>
                      <b-col class="overflow-auto">{{data.item.location}}</b-col>
                    </b-row>

                    <!-- <b-row class="mb-2">
                <b-col sm="3" class="text-sm-right"><b>Request time :</b></b-col>
                <b-col> {{data.item.requestTime | moment('MMMM DD YYYY, h:mm:ss')}} </b-col>
                    </b-row>-->

                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right">
                        <b>Problem :</b>
                      </b-col>
                      <b-col class="overflow-auto">{{data.item.problem}}</b-col>
                    </b-row>

                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right">
                        <b>Status :</b>
                      </b-col>
                      <b-col>
                        <b-badge
                          v-if="data.item.status == 'waiting adknowledgement'"
                          variant="info"
                        >{{data.item.status}}</b-badge>
                        <b-badge
                          v-if="data.item.status == 'adknowledged'"
                          variant="warning"
                        >{{data.item.status}}</b-badge>
                        <b-badge
                          v-if="data.item.status == 'pending'"
                          variant="primary"
                        >{{data.item.status}}</b-badge>
                        <b-badge
                          v-if="data.item.status == 'done'"
                          variant="success"
                        >{{data.item.status}}</b-badge>
                      </b-col>
                    </b-row>

                    <b-row class="mb-2">
                      <b-col sm="3" class="text-sm-right">
                        <b>Actions :</b>
                      </b-col>
                      <b-col>
                        <b-button
                          v-if="data.item.status == 'waiting adknowledgement'"
                          variant="warning"
                          sm
                          @click="takejob(data)"
                        >adknowledged</b-button>
                        <!-- <b-button
                          v-if="data.item.status == 'adknowledged'"
                          variant="primary"
                          sm
                        >pending</b-button>
                        <b-button v-if="data.item.status == 'pending'" variant="success" sm>done</b-button> -->
                      </b-col>
                      <!-- <b-col> {{data.item.actions}} </b-col> -->
                    </b-row>
                  </b-card>
                </div>
              </template>
            </b-table>
          </div>
          <div class="pt-4 d-flex justify-content-center">
            <b-pagination
              v-model="currentMyJPage"
              :total-rows="rows"
              :per-page="perPageMy"
              aria-controls="myjob"
            ></b-pagination>
          </div>
          <template v-slot:footer>
            <small class="text-muted">Remark :</small>
            <br />
            <small
              class="text-muted"
            >Click on the problem button in the problem column to see full job detail and take the job</small>
          </template>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
// import {Datetime} from 'vue-datetime'

export default {
  name: "HelpdeskV3",
  data() {
    return {
      startDate: "",
      endDate: "",
      options: {
        useCurrent: false
      },
      selectedLocation: "ALL",
      currentPersonel: {},
      currentMyJPage: 1,
      perPageMy: 5,
      busy: false,
      locationOptions: [
        "ALL",
        "MUIC Building 1",
        "MUIC Building 2",
        "MUIC Building 3",
        "Aditayathorn Building"
      ],
      fields: [
        // { key: "id",variant:'primary', label: "job ID", sortable: true , class:"w-25"},
        {
          key: "requestTime",
          sortable: true,
          label: "Request Time",
          class: "w-25"
        },

        { key: "problem", label: "Problem", class: "w-50" },
        // { key: "location", label: "Location" },
        { key: "requester", label: "Requester", class: "w-25" }
        // { key: "status", label: "Status", thStyle: { width: "10%" } },
        // { key: "actions", label: "Actions", thStyle: { width: "10%" } }
      ],
      jobStatusOptions: [
        "ALL",
        "Waiting adknowledgement",
        "Adknowledged",
        "Pending"
      ],
      items: [
        {
          id: "0000001",
          location: "Aditayathorn Building",
          problem: "แอร์เสีย",
          requestTime: new Date("2020-02-12T04:00:00.000+07:00"),
          requester: "Dr.Sunsern Cheamanunkul",
          status: "adknowledged",
          actions: "pending"
        },
        {
          id: "0000002",
          location: "Aditayathorn Building",
          problem: "น้ำแอร์ไหล ไฟเสีย แผลผุพอง เป็นหนอง ผิวหนังอักเสบ เป็นหนอง",
          requestTime: new Date("2011-02-12T07:17:00.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000003",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2013-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "done",
          actions: "done"
        },
        {
          id: "0000004",
          location: "Aditayathorn Building",
          problem: "จนเครียดกินเหล้า จนเครียดกินเหล้า จนเครียดกินเหล้า จนเครียดกินเหล้า จนเครียดกินเหล้า จนเครียดกินเหล้า จนเครียดกินเหล้า",
          requestTime: new Date("2014-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "waiting adknowledgement",
          actions: "done"
        },
        {
          id: "0000014",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2014-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "waiting adknowledgement",
          actions: "done"
        },
        {
          id: "0000015",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2014-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "waiting adknowledgement",
          actions: "done"
        },
        {
          id: "0000005",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2015-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000006",
          location: "MUIC Building 1",
          problem: "helloworld",
          requestTime: new Date("2015-04-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000007",
          location: "MUIC Building 1",
          problem: "helloworld",
          requestTime: new Date("2015-05-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000008",
          location: "MUIC Building 2",
          problem: "helloworld",
          requestTime: new Date("2015-06-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000009",
          location: "MUIC Building 2",
          problem: "helloworld",
          requestTime: new Date("2011-06-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000010",
          location: "MUIC Building 2",
          problem: "helloworld",
          requestTime: new Date("2011-03-12T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000011",
          location: "MUIC Building 3",
          problem: "helloworld",
          requestTime: new Date("2011-03-13T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000012",
          location: "MUIC Building 3",
          problem: "helloworld",
          requestTime: new Date("2011-03-15T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000013",
          location: "MUIC Building 3",
          problem: "helloworld",
          requestTime: new Date("2012-03-20T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        }
      ]
    };
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.busy = true
      // insert the database api address here
      const res = await this.$http.get('')
      this.items = res.data
      this.busy = false
    },
    takejob(data) {
      if(data.item){
        data.item.status = "adknowledged"
        this.items.splice(data.index,1)
        this.$bvToast.toast(data.item.problem,{
          title: 'Task adknowledged',
          autoHideDelay : 5000,
          appendToast : true,
          variant : 'info'
         })
        this.fetchData()
      }
    }

  },
  computed: {
    rows() {
      return this.filteredItems.length;
    },
    filteredItems() {
      let temp = [...this.items];
      if (this.selectedLocation !== "ALL") {
        temp = temp.filter(item => {
          return item.location === this.selectedLocation;
        });
      }
      if (this.startDate !== "") {
        temp = temp.filter(item => {
          return this.$moment(item.requestTime) >= this.$moment(this.startDate);
        });
      }
      if (this.endDate !== "") {
        temp = temp.filter(item => {
          return this.$moment(item.requestTime) <= this.$moment(this.endDate);
        });
      }
      return temp;
      if (this.selectedLocation === "ALL") {
        return this.items;
      } else {
        return this.items.filter(item => {
          return item.location === this.selectedLocation;
        });
      }
    }
  }
  // components: {
  //   datetime: Datetime
  // }
};
</script>