<template>
    <assignmentCard></assignmentCard>
</template>

<script>
import assignmentCard from '@/components/assignmentCard'
export default {
    name : 'AdminStaffAssignment',
    components : {
        assignmentCard
    }
}
</script>