<template>
  <div>
      <b-card
      class="mb-2"
      >
      <template v-slot:header>
          <h3 class="my-2">Ongoing Jobs</h3>
      </template>
      <!-- <admin-job-table></admin-job-table> -->
      <AdminJobTable></AdminJobTable>

        <template v-slot:footer>
            <small class="text-muted">Remark :</small>
                <br />
                <li>Click on the assignee name to change the job's assignee </li>
                <li>Click on the job's status to change it</li>
                <li>Click <CIcon name="cil-x"/> to remove the job </li>
        </template>
      </b-card>
      <!-- <CCardGroup columns class="card-columns cols-2">
          <CCard>
            <CCardHeader>
                <div>
                        <a 
                        href="https://coreui.io/vue/docs/components/charts" 
                        class="card-header-action" 
                        rel="noreferrer noopener" 
                        target="_blank"
                        >
                        <small class="text-muted">docs</small>
                        </a>
                </div>
            </CCardHeader>
            <CCardBody>
                <CChartLineExample/>
            </CCardBody>
          </CCard>
      </CCardGroup> -->
  </div>
</template>

<script>
// import * as Charts from '../charts/index.js'
import AdminJobTable from '@/components/jobtable'
export default {
  name: 'AdminJobList',
  components: {
        AdminJobTable
    }
//   components: {
//     ...Charts
//   }
    
}
</script>
