<template>
    <div>
    <b-container fluid class="px-5">
      <b-row class="py-4">
        <!-- date filter -->
        <b-col>
          From :
          <!-- <datetime id='startDatePicker' type="datetime" v-model="startDate"></datetime> -->
          <date-picker v-model="startDate" :config="options"></date-picker>
        </b-col>
        <b-col>
          To :
          <!-- <datetime id='endDatePicker' type="datetime" v-model="endDate"></datetime> -->
          <date-picker v-model="endDate" :config="options"></date-picker>
        </b-col>
        <!-- building filter -->
      </b-row>
      <b-row>
      <b-col sm="8">
        Building :
      <b-form-select class="mb-2" v-model="selectedLocation" :options="locationOptions"></b-form-select>
      </b-col>
      <b-col sm="4">
        Status :
        <b-form-select class="mb-2" v-model="selectedStatus" :options="statusOptions"></b-form-select>
      </b-col>
      </b-row>
      <!-- Debugging Datetime filter -->
      <!-- <hr />
      {{startDate}} - {{startDate | moment('dddd Do MMMM YYYY, h:mm:ss')}} - {{typeof(startDate)}} 
      <hr />
      {{'fitleredItems :' + filteredItems.length}}
      <hr />-->
      <div class="my-2">
        <b-card>
          <b-row>
            <b-col class="pt-3">
              <h3>My Jobs</h3>
            </b-col>
          </b-row>
          <hr />
          <div>
            <b-table
              id="alljob"
              responsive
              hover
              head-variant="dark"
              class="py-2"
              :per-page="perPageMy"
              :current-page="currentMyJPage"
              :fields="fields"
              :items="filteredItems"
              :busy="busy"
            >
              <template v-slot:table-busy>
                <div class="text-center my-2">
                  <b-spinner class="align-middle mr-1"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>

              <template
                v-slot:cell(requestTime)="data"
              >{{data.item.requestTime | moment('dddd Do MMMM YYYY, LT')}}</template>

              <template v-slot:cell(problem)="row">
                <div>
                  <CCard>
                    <CCardHeader>
                      {{row.item.problem | truncate(30,'...')}}
                      <CBadge v-if="row.item.status == 'adknowledged'" color="warning">adknowledged</CBadge>
                      <CBadge v-if="row.item.status == 'pending'" color="primary">pending</CBadge>
                    </CCardHeader>
                    <CCardBody>
                      <b-row class="mb-2">  
                        <b-col sm="3">
                          <b>Requester : </b>
                        </b-col>
                        <b-col>
                          {{row.item.requester}}
                        </b-col>
                      </b-row>
                      <b-row class="mb-2">  
                        <b-col sm="3">
                          <b>Location : </b>
                        </b-col>
                        <b-col>
                          {{row.item.location}}
                        </b-col>
                      </b-row>
                      <b-row class="mb-2">  
                        <b-col sm="3">
                          <b>Problem : </b>
                        </b-col>
                        <b-col>
                          {{row.item.problem}}
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col sm="3">
                          <b>Note:</b>
                        </b-col>
                        <b-col>
                          <div v-if="row.item.notes === ''">
                          <b-button v-b-toggle="'note' + row.item.id"  pill variant="outline-secondary">
                            <CIcon name="cil-plus"/>
                          </b-button>
                          </div>
                          <b-collapse :id="'note' + row.item.id">
                            <!-- @change="$root.$emit('bv::toggle::collapse', 'note' + row.item.id)" -->
                            <b-form-textarea debounce="1000" v-model="row.item.notes" :id="'textarea' + row.item.id" @change="updateNote(row.item)" class="mt-2" placeholder="Enter notes here" rows="3" max-row="6">
                            </b-form-textarea>
                          </b-collapse>
                          <div v-if="row.item.notes !== ''" class="mt-2">
                            <b-row>
                              <b-col sm="6">
                                <b-collapse visible :id="'note' + row.item.id">
                                  {{row.item.notes}}
                                </b-collapse>
                              </b-col>
                              <b-col sm="2">
                                <!-- v-b-toggle="'note' + row.item.id" -->
                                <b-button @click="updateNote(row.item)" variant="outline-secondary" pill>
                                  <CIcon name="cil-pencil"/>
                                </b-button>
                              </b-col>
                              <b-col sm="2">
                                <b-button @click="row.item.notes = ''" variant="outline-secondary" pill>
                                  <CIcon name="cil-x"/>
                                </b-button>
                              </b-col>
                            </b-row>
                          </div>
                        </b-col>
                      </b-row>
                    </CCardBody>
                    <CCardFooter>
                      <div class="d-flex justify-content-end">
                        <b-button v-b-modal="'personel-' + row.item.id" v-if="row.item.status == 'adknowledged'" variant = "primary">Pending</b-button>
                        <b-button v-b-modal="'personel-' + row.item.id" v-if="row.item.status == 'pending'" variant = "success">Done</b-button>
                      </div>
                    </CCardFooter>
                  </CCard>
                </div>
                <div>
                  <b-modal @hide="resetCollabAndTag" :id="'personel-' + row.item.id" :title="(row.item.problem)">
                    <b-container>
                    <b-row class="mb-2 pl-2">
                      Do you want to change the status of this job from <b>{{'\xa0' + row.item.status + '\xa0'}}</b> to 
                      <b v-if="row.item.status==='adknowledged'">{{'\xa0' + 'pending' + '\xa0'}}</b>
                      <b v-if="row.item.status==='pending'">{{'\xa0' + 'done' + '\xa0'}}</b>
                    </b-row>

                    <div v-if="row.item.status==='pending'">
                      <hr/>
                      <b-row class="mb-2 pl-2">
                          <b class="pr-2">Collaborators :</b>
                            <b-button class="mr-2" v-b-toggle="'done'+row.item.id"  pill variant="outline-secondary">
                              <CIcon name="cil-plus"/>
                            </b-button>
                            <b-collapse :id="'done'+row.item.id">
                              <b-input-group>
                                <b-form-input v-model="collabName" sm="4" ></b-form-input>
                                <b-input-group-append>
                                  <b-button @click="collaborators.push(collabName)" variant="primary"> Add </b-button>
                                </b-input-group-append>
                              </b-input-group>
                              <!-- <datalist>
                                <option></option>
                              </datalist> -->
                            </b-collapse>
                      </b-row>
                      <b-list-group>
                        <b-list-group-item v-for="(name,index) in collaborators">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{name}}</h5>
                              <b-button @click="collaborators.splice(index,1)" class="mr-2" pill variant="outline-danger">
                                <CIcon name="cil-x"/>
                              </b-button>
                          </div>
                        </b-list-group-item>
                      </b-list-group>
                      <hr />
                      <b-row class="mb-2 pl-2">
                        <b>Tag: </b>
                        <b-form-tags v-model="tags"></b-form-tags>
                      </b-row>
                    </div>
                    </b-container>
                  </b-modal>
                </div>
              </template>
            </b-table>
          </div>
          <div class="pt-4 d-flex justify-content-center">
            <b-pagination
              v-model="currentMyJPage"
              :total-rows="rows"
              :per-page="perPageMy"
              aria-controls="myjob"
            ></b-pagination>
          </div>
          <template v-slot:footer>
            <small class="text-muted">Remark :</small>
            <br />
            <small
              class="text-muted"
            >Click on the problem button in the problem column to see full job detail and take the job</small>
          </template>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "MyJobs",
    data() {
    return {
      startDate: "",
      endDate: "",
      options: {
        useCurrent: false
      },
      collabName : '',
      collaborators: [],
      tags: [],
      selectedStatus: "ALL",
      selectedLocation: "ALL",
      currentPersonel: {},
      currentMyJPage: 1,
      perPageMy: 5,
      busy: false,
      statusOptions: [
        "ALL",
        "adknowledged",
        "pending",
        "done"
      ],
      locationOptions: [
        "ALL",
        "MUIC Building 1",
        "MUIC Building 2",
        "MUIC Building 3",
        "Aditayathorn Building"
      ],
      fields: [
        // { key: "id",variant:'primary', label: "job ID", sortable: true , class:"w-25"},
        {
          key: "requestTime",
          sortable: true,
          label: "Request Time",
          class: "w-25"
        },

        { key: "problem", label: "Problem", class: "w-75" },
        // { key: "location", label: "Location" },
        // { key: "requester", label: "Requester", class: "w-25" }
        // { key: "status", label: "Status", thStyle: { width: "10%" } },
        // { key: "actions", label: "Actions", thStyle: { width: "10%" } }
      ],
      jobStatusOptions: [
        "ALL",
        "Waiting adknowledgement",
        "Adknowledged",
        "Pending"
      ],
      items: [
        {
          id: "0000001",
          location: "Aditayathorn Building",
          problem: "แอร์เสีย",
          requestTime: new Date("2020-02-12T04:00:00.000+07:00"),
          requester: "Dr.Sunsern Cheamanunkul",
          status: "adknowledged",
          actions: "pending",
          notes : ""
        },
        {
          id: "0000002",
          location: "Aditayathorn Building",
          problem: "น้ำแอร์ไหล ไฟเสีย แผลผุพอง เป็นหนอง ผิวหนังอักเสบ เป็นหนอง",
          requestTime: new Date("2011-02-12T07:17:00.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000003",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2013-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "done",
          actions: "done",
          notes : ""
        },
        {
          id: "0000004",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2014-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "waiting adknowledgement",
          actions: "done",
          notes : ""
        },
        {
          id: "0000014",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2014-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "waiting adknowledgement",
          actions: "done",
          notes : ""
        },
        {
          id: "0000015",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2014-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "waiting adknowledgement",
          actions: "done",
          notes : ""
        },
        {
          id: "0000005",
          location: "Aditayathorn Building",
          problem: "helloworld",
          requestTime: new Date("2015-03-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000006",
          location: "MUIC Building 1",
          problem: "helloworld",
          requestTime: new Date("2015-04-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000007",
          location: "MUIC Building 1",
          problem: "helloworld",
          requestTime: new Date("2015-05-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000008",
          location: "MUIC Building 2",
          problem: "helloworld",
          requestTime: new Date("2015-06-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000009",
          location: "MUIC Building 2",
          problem: "helloworld",
          requestTime: new Date("2011-06-11T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000010",
          location: "MUIC Building 2",
          problem: "helloworld",
          requestTime: new Date("2011-03-12T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000011",
          location: "MUIC Building 3",
          problem: "helloworld",
          requestTime: new Date("2011-03-13T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        },
        {
          id: "0000012",
          location: "MUIC Building 3",
          problem: "helloworld",
          requestTime: new Date("2011-03-15T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done"
        },
        {
          id: "0000013",
          location: "MUIC Building 3",
          problem: "helloworld",
          requestTime: new Date("2012-03-20T10:10:10.000+07:00"),
          requester: "John Doe",
          status: "pending",
          actions: "done",
          notes : ""
        }
      ]
    };
  },
  created() {
    this.fetchData()
  },
  methods : {
    async fetchData() {
      this.busy = true
            this.busy = true
      // insert the database api address here
      // const res = await this.$http.get('')
      // this.items = res.data
      let filtered = [...this.items]
      filtered = filtered.filter(item => {
        return item.status === 'waiting adknowledgement'
      })
      this.busy = false
      this.items = filtered
    },
    updateNote(item) {
      this.$root.$emit('bv::toggle::collapse', 'note' + item.id)
      this.$root.$emit('bv::toggle::collapse','text' + item.id)
    },
    resetCollabAndTag(){
      this.collaborators = []
      this.tags = []
    }
  },
  computed: {
    rows() {
      return this.filteredItems.length;
    },
    filteredItems() {
      let temp = [...this.items];
      if (this.selectedLocation !== "ALL") {
        temp = temp.filter(item => {
          return item.location === this.selectedLocation;
        });
      }
      if (this.selectedStatus !== "ALL") {
        temp = temp.filter(item => {
          return item.status === this.selectedStatus;
        });
      }
      if (this.startDate !== "") {
        temp = temp.filter(item => {
          return this.$moment(item.requestTime) >= this.$moment(this.startDate);
        });
      }
      if (this.endDate !== "") {
        temp = temp.filter(item => {
          return this.$moment(item.requestTime) <= this.$moment(this.endDate);
        });
      }
      return temp;
      if (this.selectedLocation === "ALL") {
        return this.items;
      } else {
        return this.items.filter(item => {
          return item.location === this.selectedLocation;
        });
      }
    }
  },
}
</script>