<template>
    <div>
        <b-button variant="success" sm="6">
            <CIcon name="cil-plus"/> Add new job 
        </b-button>
        <b-modal id="createjobmodal" title="Add new job">
            <b-container>
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b>Problem type : </b>
                    </b-col>
                    <b-col>
                        <!-- dropdown or form -->
                    </b-col>
                </b-row>
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b>Building : </b>
                    </b-col>
                    <b-col>
                        <!-- dropdown or form -->
                    </b-col>
                </b-row>
            </b-container>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'addNewJob',

}
</script>