<template>
    <b-card :title="title" :img-src="imgurl" img-left>
        
    </b-card>
</template>

<script>
export default {
    name : 'assignmentCard',
    data() {
        return {
            title : "",
            imgurl : "",

        }

    }
}
</script>