<template>
    <CChartBar
     :datasets="fakeDataset"
     :labels="barLabels"
     :options="options"
    />
</template>

<script>
import { CChartBar } from '@coreui/vue-chartjs'

export default {
    name : 'barChart',
    components : {
        CChartBar
    },
    props : {
        incomingdata : Object,
    },
    computed : {
        fakeDataset(){
            return this.incomingdata.dataset
        },
        barLabels(){
            return this.incomingdata.labels
        },
        options() {
            return this.incomingdata.options
        }
    }
}
</script>