<template>
    <b-table
        id='currentJobTable'
        responsive
        hover
        head-variant="light"
        class="py-2"
        :fields="fields"
        :items="items"
        :busy="busy"
    >
        <template v-slot:cell(staff)="data">
            <b-card style="height:150px">
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b>Name</b> : {{data.item.name}}
                    </b-col>
                </b-row>
            </b-card>
        </template>

        <template v-slot:cell(currentjob)="data">
            <b-card style="height: 150px">
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b>Problem</b> : {{data.item.currentJob || truncate(30,'...')}}
                    </b-col>
                </b-row>
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b>Request time</b> : {{data.item.requestTime}}
                    </b-col>
                </b-row>
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b>Status</b> : 
                        <b-badge :variant="data.item.status === 'Adknowledged' ? 'warning' : data.item.status === 'Processing' ? 'primary' : 'danger'">
                            {{data.item.status}}
                        </b-badge>
                    </b-col>
                </b-row>
            </b-card>
        </template>
    </b-table>
</template>

<script>
export default {
    name : 'adminCurrentJobTable',
    data(){
        return {
            fields: [
                {
                    key: 'staff',
                    label : 'Staff'
                },
                {
                    key : 'currentjob',
                    label : 'Currentjob'
                },
                // {
                //     key : 'requestTime',
                //     label : 'Request time'
                // },
                // {
                //     key : 'status',
                //     label : 'Status'
                // }
            ],
            items : [
                {
                    name : "John",
                    currentJob : 'คอมเสีย',
                    requestTime : new Date("2020-02-12T04:00:00.000+07:00"),
                    status : 'Processing'
                },
            ]
        }
    }
}
</script>