<template>
    <div>
    <CChartPie
        :datasets="fakeDatasets"
        :options="computedOptions"
    />
    <!-- <b-button @click="handleClick">XX</b-button> -->
    </div>
</template>


<script>
import { CChartPie} from '@coreui/vue-chartjs'
export default {
    name : "customPieChart",
    components: { CChartPie },
    props: {
        incomingdata: Object
    },
    computed : {
        fakeDatasets () {
            return this.incomingdata.dataset
        },
        pieLabels () {
            return this.incomingdata.labels
        },
        computedOptions() {
            return {
                responsive : true,
                legend : {
                    display : false,
                },
                tooltips : {
                    enabled : true,
                    callbacks : {
                        label: function(tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var index = tooltipItem.index;
                            return dataset.labels[index] + ': ' + dataset.data[index];
                        }
                    }
                }
            }
        }
    },
    methods: {
        handleClick() {
            this.$emit('refresh', {
                test: 123,
            })
        }
    }
}
</script>