<template>
    <CChartLine
        :datasets="fakedataset"
        :options="defaultOptions"
        :labels="graphLabels"
    />
</template>

<script>
import { CChartLine } from '@coreui/vue-chartjs'
import { getColor, hexToRgba } from '@coreui/utils/src'

function random (min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min)
}

export default {
    name : "generalReportChart",
    components: {
        CChartLine
    },
    props : {
        incomingdata : Object
    },
    data() {
        return {

        }
    },
    computed : {
        graphLabels () {
            return this.incomingdata.labels
        },
        fakedataset() {
            const brandSuccess = getColor('success') ||  '#4dbd74'
            const brandInfo = getColor('info') || '#20a8d8'
            const brandWarning = getColor('warning') || '#ffc107'
            const brandPrimary = getColor('primary') || '#007bff'
            const brandSecondary = getColor('secondary') || '#6c757d'
            const jobDoneColor = '#3c00ff'

            let elements = 30

            const waiting = this.incomingdata.waiting
            const adknowledged = this.incomingdata.adknowledged
            const processing = this.incomingdata.processing
            const claiming = this.incomingdata.claiming
            const pending = this.incomingdata.pending
            const done = this.incomingdata.done

            for(let i = 0; i <= elements; i++){
                waiting.push(random(50,200))
                adknowledged.push(random(70,150))
                processing.push(random(20,30))
                claiming.push(random(5,10))
                pending.push(random(1,5))
                done.push(random(25,50))
            }

            return [
                {
                    label : 'Waiting',
                    borderColor : brandInfo,
                    pointHoverBackgroundColor : brandInfo,
                    borderWidth : 2,
                    data : waiting
                },
                {
                    label : 'Adknowledged',
                    borderColor : brandWarning,
                    pointHoverBackgroundColor : brandWarning,
                    borderWidth : 2,
                    data : adknowledged
                },
                {
                    label : 'Processing',
                    borderColor : brandPrimary,
                    pointHoverBackgroundColor : brandPrimary,
                    borderWidth : 2,
                    data : processing
                },
                {
                    label : 'Claiming',
                    borderColor : brandSecondary,
                    pointHoverBackgroundColor : brandSecondary,
                    borderWidth : 2,
                    data : claiming
                },
                {
                    label : 'Pending',
                    borderColor : brandSuccess,
                    pointHoverBackgroundColor : brandSuccess,
                    borderWidth : 2,
                    data : pending
                },
                {
                    label : 'Done',
                    borderColor : jobDoneColor,
                    pointHoverBackgroundColor : jobDoneColor,
                    borderWidth : 2,
                    data : done
                }
            ]
        },
        defaultOptions () {
            return {

                maintainAspectRatio: false,
                legend: {
                display: false
                },
                scales: {
                xAxes: [{
                    gridLines: {
                    drawOnChartArea: false
                    }
                }],
                yAxes: [{
                    ticks: {
                    beginAtZero: true,
                    maxTicksLimit: 5,
                    stepSize: Math.ceil(250 / 5),
                    max: 250
                    },
                    gridLines: {
                    display: true
                    }
                }]
                },
                elements: {
                point: {
                    radius: 0,
                    hitRadius: 10,
                    hoverRadius: 4,
                    hoverBorderWidth: 3
                    }
                }
            }
        }
    }
}
</script>