<template>
  <b-tabs content-class="mt-3" card>
    <b-tab v-for="team in teams" :title="team.teamtitle">
      <b-row>
        <b-col sm="12" lg="6">
          <barChart style="height:350px" :incomingdata="team.info"></barChart>
          <!-- {{typeof(team.info.dataset[0].data.values())}}
          {{team.info.dataset[0].data.reduce((a,b) => a + b, 0)}}-->
          total number of job (team) : {{team.info.dataset[0].data.reduce((a,b) => a + b, 0)}}
        </b-col>
        <b-col sm="12" lg="6">
          <b-tabs @input="updateRemark" v-model="tabIndex" content-class="mt-3" card pills>
            <b-tab title="Current job">
              <div v-for="person in team.statebar">
                {{person.name}}
                <!-- will replace the max by total job count -->
                <b-progress show-progress max="100" class="mb-3">
                  <b-progress-bar variant="warning" :value="person.value[0]"></b-progress-bar>
                  <b-progress-bar variant="primary" :value="person.value[1]"></b-progress-bar>
                  <b-progress-bar variant="secondary" :value="person.value[2]"></b-progress-bar>
                  <b-progress-bar variant="dark" :value="person.value[3]"></b-progress-bar>
                  <!-- <b-progress-bar variant="success" :value="person.value[4]"></b-progress-bar> -->
                </b-progress>
              </div>
            </b-tab>
            <b-tab title="Job done">
              <!-- will replace the max by total job done -->
              <div v-for="person in team.statebar">
                {{person.name}}
                <b-progress show-progress max="100" class="mb-3">
                  <b-progress-bar variant="info" :value="person.value[5]"></b-progress-bar>
                  <b-progress-bar variant="primary" :value="person.value[6]"></b-progress-bar>
                  <b-progress-bar variant="secondary" :value="person.value[7]"></b-progress-bar>
                  <b-progress-bar variant="secondary" striped :value="person.value[8]"></b-progress-bar>
                  <b-progress-bar variant="warning" :value="person.value[9]"></b-progress-bar>
                  <b-progress-bar variant="danger" :value="person.value[10]"></b-progress-bar>
                  <b-progress-bar variant="dark" :value="person.value[11]"></b-progress-bar>
                </b-progress>
              </div>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-tab>
  </b-tabs>
</template>

<script>
import barChart from "@/components/barChart";
export default {
  name: "adminJobQuantityTab",
  data() {
    return {
      tabIndex: 0
    };
  },
  components: {
    barChart
  },
  props: {
    graphdata: Object
  },
  computed: {
    teams() {
      return this.graphdata.teams;
    }
  },
  methods: {
      updateRemark() {
          this.$emit('tabUpdate', {
                tab : this.tabIndex,
        })
      }
  }
};
</script>