<template>
    <div>
        <b-card bg-variant="light" class="mb-2">
            <b-container fluid class="px-5">
                <b-row class="mb-2">
                    <b-col>
                    From :
                        <date-picker v-model="startDate" :config="clockOptions"></date-picker>
                    </b-col>
                    <b-col>
                    To :
                        <date-picker v-model="endDate" :config="clockOptions"></date-picker>
                    </b-col>
                </b-row>
                <b-row class="mb-2">
                    <b-col sm="8">
                        Building :
                        <b-form-select class="mb-2" v-model="selectedLocation" :options="locationOptions"></b-form-select>
                    </b-col>
                    <b-col sm="4">
                        Status:
                        <b-form-select class="mb-2" v-model="statusFilterStatus" :options="statusFilterOptions"></b-form-select>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-button variant="success" sm="6">
                            <CIcon name="cil-plus"/> Add new job 
                        </b-button>
                        <b-button variant="secondary" sm="6" class="ml-2" @click="resetFilter">
                            <CIcon name="cil-reload"/> Reset Filter
                        </b-button>
                    </b-col>
                    <!-- <b-col>
                        
                    </b-col> -->
                </b-row>
            </b-container>
        </b-card>
        <b-table
        id="jobs"
        responsive
        hover
        head-variant="dark"
        class="py-2"
        :fields="fields"
        :items="filteredItems"
        :busy="busy"
        >
            <template v-slot:table-busy>
                <div class="text-center my-2">
                    <b-spinner class="align-middle mr-1"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>
            
            <template v-slot:cell(status)="data">
                <div>
                    <b-dropdown dropright :text="data.item.status" :variant="data.item.status==='Waiting adknowledgement' ? 'info' : data.item.status==='Adknowledged' ? 'warning' : data.item.status==='Processing' ? 'primary' : 'danger'">
                        <b-dropdown-item-button v-if="data.item.status!=='Waiting adknowledgement'" @click="changeSelectedJobAndOpenModal(data,'Waiting adknowledgement')"> Waiting adknowledgement </b-dropdown-item-button>
                        <b-dropdown-item-button v-if="data.item.status!=='Adknowledged'" @click="changeSelectedJobAndOpenModal(data,'Adknowledged')"> Adknowledged </b-dropdown-item-button>
                        <b-dropdown-item-button v-if="data.item.status!=='Processing'" @click="changeSelectedJobAndOpenModal(data,'Processing')"> Processing </b-dropdown-item-button>
                        <b-dropdown-item-button v-if="data.item.status!=='Done'" v-b-modal="'closing-' + data.item.id"> Done </b-dropdown-item-button>
                    </b-dropdown>
                    <!-- <b-form-select class="mb-2" v-model="data.item.status" :options="statusOptions"></b-form-select> -->
                </div>
                <b-modal :id="'status-' + data.item.id" :title="data.item.problem" @hide="resetSelectedStatus" @ok="changeJobStatus(data, selectedStatus)">
                    <b-container>
                        <b-row class="mb-2 pl-2">
                            Do you want to change the status of this job from <b>{{'\xa0' +  data.item.status + '\xa0'}}</b> to <b>{{'\xa0' +  selectedStatus + '\xa0'}}</b>
                        </b-row>
                    </b-container>
                </b-modal>
            </template>

            <template v-slot:cell(requestTime)="data">
                {{data.item.requestTime | moment('dddd Do MMMM YYYY, LT')}}
            </template>

            <template v-slot:cell(problem)="data">
                {{data.item.problem | truncate(30,'...')}}
            </template>

            <template v-slot:cell(assignee)="data">
                <!-- we are going to use modal to change this instead -->
                <b-button @click="openChangeAssigneeModal(data)">
                    {{data.item.assignee}}
                </b-button>
                <b-modal :id="'personel-' + data.item.id" title='Change Assignee' @hide="resetPersonelModal" @ok="moveJob(data,selectedPersonel,sentEvalForm)">
                    <b-container>
                            <b-container>
                                <b-row class="mb-2 pl-2">
                                    <b-col sm="4"> <b>Problem :</b> </b-col>
                                    <b-col sm="8"> {{data.item.problem | truncate(30,'...')}} </b-col>
                                </b-row>
                                <b-row class="mb-2 pl-2">
                                    <b-col sm="4">
                                        <b>Current assignee : </b>
                                    </b-col>
                                    <b-col sm="8">
                                        {{data.item.assignee}}
                                    </b-col>
                                </b-row>
                                <b-row class="mb-2 pl-2">
                                    <b-col sm="4">
                                        <b>Change to :</b>
                                    </b-col> 
                                    <b-col sm="8">
                                        <b-form-select class="mb-2" v-model="selectedPersonel" :options="personel"></b-form-select>
                                    </b-col>
                                </b-row>
                                <b-row class="mb-2 pl-2">
                                    <b-col>
                                        <b-form-checkbox
                                         :id="'moveJobModalCheckbox' + data.item.id"
                                         v-model="sentEvalForm"       
                                        >
                                        Sent evaluation form to previous assignee?
                                        </b-form-checkbox>
                                    </b-col>
                                </b-row>
                            </b-container>
                    </b-container>
                </b-modal>
                <b-modal :id="'closing-' + data.item.id" @hide="resetClosingForm" @ok="closeJobs(data)" title="Closing job">
                    <b-container>
                        <b-row class="mb-2 pl-2">
                            <b-col sm="4"><b>Problem : </b></b-col>
                            <b-col sm="8"> {{data.item.problem | truncate(30,'...')}} </b-col>
                        </b-row>
                        <b-row class="mb-2 pl-2">
                            <b-col sm="4"><b>Assignee : </b></b-col>
                            <b-col sm="8"> {{data.item.assignee}} </b-col>
                        </b-row>
                        <hr />
                        <b-row class="mb-2 pl-2">
                            <b-col>
                                <div>
                                    <b-form-group label="Collaborators">
                                        <b-form-tags v-model="collaborators" no-outer-focus class="mb-2">
                                            <template v-slot="{tags, disabled, addTag, removeTag}">
                                                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                        <b-form-tag
                                                            @remove="removeTag(tag)"
                                                            :title="tag"
                                                            :disabled="disabled"
                                                            variant="info"
                                                        >{{ tag }}
                                                        </b-form-tag>
                                                    </li>
                                                </ul>

                                                <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
                                                    <template v-slot:button-content>
                                                        Choose collaborators
                                                    </template>
                                                    <b-dropdown-form @submit.stop.prevent="() => {}">
                                                        <b-form-group
                                                            label-for="personel-search-input"
                                                            label="Search tags"
                                                            label-cols-md="auto"
                                                            class="mb-0"
                                                            label-size="sm"
                                                            :description="searchPersonelDesc"
                                                            :disabled="disabled"
                                                        >
                                                            <b-form-input
                                                                v-model="personelSearch"
                                                                id="tag-search-input"
                                                                type="search"
                                                                size="sm"
                                                                autocomplete="on"
                                                            >
                                                            </b-form-input>
                                                        </b-form-group>
                                                    </b-dropdown-form>
                                                    <b-dropdown-divider></b-dropdown-divider>
                                                    <b-dropdown-item-button
                                                        v-for="adding in availablePersonelOptions"
                                                        :key="adding"
                                                        @click="onOptionClick({ adding, addTag })"
                                                    >
                                                        {{adding}}
                                                    </b-dropdown-item-button>
                                                    <b-dropdown-text v-if="availablePersonelOptions.length === 0">
                                                        There are no tags available to select
                                                    </b-dropdown-text>
                                                </b-dropdown>
                                            </template>
                                        </b-form-tags>
                                    </b-form-group>
                                </div>
                            </b-col>
                        </b-row>
                        <hr />
                        <b-row class="mb-2 pl-2">
                            <b-col>
                                <div>
                                    <b-form-group label="Job tags">
                                        <b-form-tags v-model="tagvalues" no-outer-focus class="mb-2">
                                            <template v-slot="{tags, disabled, addTag, removeTag}">
                                                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                        <b-form-tag
                                                            @remove="removeTag(tag)"
                                                            :title="tag"
                                                            :disabled="disabled"
                                                            variant="info"
                                                        >{{ tag }}
                                                        </b-form-tag>
                                                    </li>
                                                </ul>

                                                <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
                                                    <template v-slot:button-content>
                                                        Choose tags
                                                    </template>
                                                    <b-dropdown-form @submit.stop.prevent="() => {}">
                                                        <b-form-group
                                                            label-for="tag-search-input"
                                                            label="Search tags"
                                                            label-cols-md="auto"
                                                            class="mb-0"
                                                            label-size="sm"
                                                            :description="searchDesc"
                                                            :disabled="disabled"
                                                        >
                                                            <b-form-input
                                                                v-model="search"
                                                                id="tag-search-input"
                                                                type="search"
                                                                size="sm"
                                                                autocomplete="on"
                                                            >
                                                            </b-form-input>
                                                        </b-form-group>
                                                    </b-dropdown-form>
                                                    <b-dropdown-divider></b-dropdown-divider>
                                                    <b-dropdown-item-button
                                                        v-for="adding in availableOptions"
                                                        :key="adding"
                                                        @click="onOptionClick({ adding, addTag })"
                                                    >
                                                        {{adding}}
                                                    </b-dropdown-item-button>
                                                    <b-dropdown-text v-if="availableOptions.length === 0">
                                                        There are no tags available to select
                                                    </b-dropdown-text>
                                                </b-dropdown>
                                            </template>
                                        </b-form-tags>
                                    </b-form-group>
                                </div>
                            </b-col>
                        </b-row>
                    </b-container>
                    
                </b-modal>
            </template>

            <template v-slot:cell(actions)="data">
                <b-button @click="removeJob(data)" v-b-popover.hover.top="'Remove this job'" class="mr-2" pill variant="outline-danger">
                    <CIcon name="cil-x"/>
                </b-button>
            </template>



        </b-table>
    </div>
</template>

<script>
export default {
    name: "AdminJobTable",
    data() {
        return {
            startDate: "",
            endDate: "",
            clockOptions: {
                useCurrent: false
            },
            sentEvalForm : false,
            selectedPersonel : "",
            selectedStatus : "",
            selectedLocation: "ALL",
            statusFilterStatus : "ALL",
            busy: false,
            collaborators : []
            ,
            search : '',
            personelSearch : '',
            tagvalues: [],
            tagoptions : [
                "Hardware",
                "Software",
                "Printer",
                "IPPhone",
                "Internet",
                "Other"
            ],
            locationOptions: [
                "ALL",
                "MUIC Building 1",
                "MUIC Building 2",
                "MUIC Building 3",
                "Aditayathorn Building"
            ],
            personel : [
                "P' Arm",
                "P' Not",
                "P' Tong",
                "P' Por",
            ],
            fields : [
                {
                    key: "requestTime",
                    sortable: true,
                    label: "Request Time",
                },
                {
                    key: "problem",
                    label: "Problem",
                },
                {
                    key: "requester",
                    label: "Requester"
                },
                {
                    key: "location",
                    label: "Location"
                },
                {
                    key: "status",
                    label: "Status"
                },
                {
                    key: "assignee",
                    label: "Assignee"
                },
                {
                    key: "actions",
                    label: "Actions"
                }
            ],
            statusFilterOptions: [
                "ALL",
                "Waiting adknowledgement",
                "Adknowledged",
                "Processing"
            ],
            statusOptions: [
                "Waiting adknowledgement",
                "Adknowledged",
                "Processing",
                "Done"
            ],
            personelList: [
                "P' Arm",
                "P' Por",
                "P' Not",
                "P' Tong",
                "P' Tok"
            ],
            items: [
                {
                    id: "0000001",
                    location: "Aditayathorn Building",
                    problem: "คอมเสีย",
                    requestTime: new Date("2020-02-12T04:00:00.000+07:00"),
                    requester: "Dr. Sunsern Cheamanunkul",
                    status: "Adknowledged",
                    assignee: "P' Arm"
                },
                {
                    id: "0000002",
                    location: "MUIC Building 1",
                    problem: "ปริ้นเตอร์เสีย",
                    requestTime: new Date("2020-02-25T04:00:00.000+07:00"),
                    requester: "Dr. Sunsern Cheamanunkul",
                    status: "Processing",
                    assignee: "P' Not"
                }
            ]
        }
    },
    methods: {
        moveJob(data,moveTo,sentEval){
            console.log(data.item.id)
            data.item.assignee = moveTo;
            if(sentEval){
                // sent eval form
            }
        },
        changeJobStatus(data,statusInput){
            console.log("original : " + data.item.id + " : " + data.item.status)
            console.log("new status : " + statusInput)
            data.item.status = statusInput;
        },
        changeSelectedJobAndOpenModal(data,statusInput){
            this.selectedStatus = statusInput;
            this.$root.$emit('bv::show::modal','status-' + data.item.id)
        },
        openChangeAssigneeModal(data){
            this.$root.$emit('bv::show::modal','personel-' + data.item.id)
        },
        removeJob(data){
            this.items.splice(data.index,1)
        },
        closeJobs(data){
            // implement this
        },
        resetClosingForm(){
            // implement this
            this.collaboratorCount = 0
            this.collaborators = []
            this.tagvalues = []
        },
        resetSelectedStatus(){
            this.selectedStatus = "";
        },
        resetPersonelModal(){
            this.selectedPersonel = ""
            this.sentEvalForm = false;
        },
        onOptionClick({adding, addTag}) {
            addTag(adding)
            this.search = ''
            this.personelSearch = ''
        },
        resetFilter(){
            this.startDate = ""
            this.endDate = ""
            this.selectedLocation = "ALL"
            this.statusFilterStatus = "ALL"
        }
    },
    computed: {
    // rows() {
    //   return this.filteredItems.length;
    // },
        filteredItems() {
            let temp = [...this.items];
            if (this.selectedLocation !== "ALL") {
                temp = temp.filter(item => {
                return item.location === this.selectedLocation;
                });
            }
            if (this.statusFilterStatus !== "ALL") {
                temp = temp.filter(item => {
                return item.status === this.statusFilterStatus;
                });
            }
            if (this.startDate !== "") {
                temp = temp.filter(item => {
                return this.$moment(item.requestTime) >= this.$moment(this.startDate);
                });
            }
            if (this.endDate !== "") {
                temp = temp.filter(item => {
                return this.$moment(item.requestTime) <= this.$moment(this.endDate);
                });
            }
            return temp;
            if (this.selectedLocation === "ALL") {
                return this.items;
            } else {
                return this.items.filter(item => {
                return item.location === this.selectedLocation;
                });
            }
        },
        personelCriteria() {
            return this.personelSearch.trim().toLowerCase()
        },
        criteria() {
            return this.search.trim().toLowerCase()
        },
        availableOptions() {
            const criteria = this.criteria
            const tagoptions = this.tagoptions.filter(opt => this.tagvalues.indexOf(opt) === -1)
            if(criteria){
                return tagoptions.filter(opt => opt.toLowerCase().indexOf(criteria) > -1);
            }
            return tagoptions
        },
        availablePersonelOptions(){
            const personelCriteria = this.personelCriteria
            const personeloptions = this.personel.filter(per => this.collaborators.indexOf(per) === -1)
            if(personelCriteria){
                return personeloptions.filter(per => per.toLowerCase().indexOf(personelCriteria) > -1);
            }
            return personeloptions
        },
        searchDesc() {
            if(this.criteria && this.availableOptions.length === 0){
                return 'There are no tags matching your search criteria'
            }
            return ''
        },
        searchPersonelDesc() {
            if(this.personelCriteria && this.availablePersonelOptions.length === 0){
                return 'There are no personel matching your search criteria'
            }
            return ''
        }
    }
}
</script>