<template>
  <CChartLine
    :datasets="defaultDatasets"
    :labels="lineLabels"
  />
</template>

<script>
import { CChartLine } from '@coreui/vue-chartjs'

export default {
  name: 'lineChart',
  components: { CChartLine },
  props : {
    incomingdata : Object,
  },
  computed: {
    defaultDatasets () {
      return this.incomingdata.dataset
    },
    lineLabels () {
      return this.incomingdata.labels
    }
  }
}
</script>