<template>
    <b-container>
        <b-row class="mb-2 pl-2">
            <b-col sm="4">
                Current assignee : 
            </b-col>
            <b-col sm="8">
                {{}}
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    name : 'moveJobModal'
}
</script>