<template>
    <div>
    <CChartPie
        :datasets="fakeDatasets"
        :labels="pieLabels"
    />
    </div>
</template>


<script>
import { CChartPie} from '@coreui/vue-chartjs'
export default {
    name : "pieChart",
    components: { CChartPie },
    props: {
        incomingdata: Object
    },
    computed : {
        fakeDatasets () {
            return this.incomingdata.dataset
        },
        pieLabels () {
            return this.incomingdata.labels
        }
    },
    methods: {
        handleClick() {
            this.$emit('refresh', {
                test: 123,
            })
        }
    }
}
</script>