// this is now for staff eval

<template>
    <b-card title="Staff">
        <b-table
            id="staffs"
            responsive
            hover
            head-variant="light"
            class="py-2"
            :fields="fields"
            :items="items"
            :busy="busy"
        >
            <template v-slot:table-busy>
                <div class="text-center my-2">
                    <b-spinner class="align-middle mr-1"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>

            <!-- <template v-slot:cell(portrait)="data">
                <b-img
                    thumbnail
                    fluid
                    :src="data.item.imgurl"
                >
                </b-img>
            </template> -->

            <template v-slot:cell(details)="data">
                <b-card :img-src="data.item.imgurl" img-left>
                    <b-row class="mb-2 pl-2">
                        <b-col>
                            Name : {{data.item.name}}
                        </b-col>
                    </b-row>
                    <b-row class="mb-2 pl-2">
                        <b-col>
                            Position : {{data.item.position}}
                        </b-col>
                    </b-row>
                    <b-row class="mb-2 pl-2">
                        <b-col>
                            Employee type : {{data.item.employeetype}}
                        </b-col>
                    </b-row>
                    <b-row class="mb-2 pl-2">
                        <b-col>
                            <CIcon class="mb-1" name="cil-phone" /> : {{data.item.contact}}
                        </b-col>
                        <b-col>
                            <CIcon class="mb-1" name="cil-envelope-closed" /> : {{data.item.email}}
                        </b-col>
                    </b-row>
                    <b-row class="mb-2 pl-2">
                        <b-col>
                            Evaluation :  <CIcon class="mb-1 ml-1" v-for="n in data.item.avgeval" name="cil-star"/>  from {{data.item.evalcount}} unique evaluations
                        </b-col>
                    </b-row>
                </b-card>
            </template>

            <!-- <template v-slot:cell(assignedlocation)="data">
                <b-row class="mb-2 pl-2">
                    <b-col>
                        <b-form-select v-model="data.item.location"  :options="buildingoptions" @change="openmovemodal"></b-form-select>
                    </b-col>
                </b-row>
                <b-modal id="movemodal" title="Assigning personel">
                    <b-row class="mb-2 pl-2">
                        <b-col>
                            Do you want to confirm assigning <b>{{'\xa0' + data.item.name + '\xa0'}}</b> to <b>{{'\xa0' + data.item.location + '\xa0'}}</b> ?
                        </b-col>
                    </b-row>
                </b-modal>
            </template> -->

        </b-table>
    </b-card>
</template>

<script>
export default {
    name : "AdminStaffTable",
    data() {
        return {
            busy : false,
            items : [
                {
                    imgurl : 'https://muic.mahidol.ac.th/eng/wp-content/uploads/2018/10/13000573.jpg',
                    name : "Dr. Sunsern Cheamanunkul",
                    position : "IT department manager",
                    employeetype : "Full-time",
                    contact : "0x-xxx-xxxx",
                    email : 'hello@world.com',
                    location : 'Aditayathorn Building',
                    avgeval : 5.00,
                    evalcount : 9001

                },
                {
                    imgurl : 'https://muic.mahidol.ac.th/eng/wp-content/uploads/2018/10/13000573.jpg',
                    name : "Dr. Sunsern Cheamanunkul",
                    position : "IT department manager",
                    employeetype : "Full-time",
                    contact : "0x-xxx-xxxx",
                    email : 'hello@world.com',
                    location : 'Aditayathorn Building',
                    avgeval : 5.00,
                    evalcount : 9001

                }
            ],
            fields  : [
                // {
                //     key: "portrait",
                //     label : "Portrait",
                //     // class: "w-10"
                // },
                {
                    key: "details",
                    label : "Details",
                    // class: "w-50",
                },
                // {
                //     key: "assignedlocation",
                //     label : "Assigned location",
                //     // class: "w-25"
                // }
            ]
        }
    },
    methods : {
        openmovemodal(){
            this.$root.$emit('bv::show::modal','movemodal')
        }
    }
}
</script>